target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar
autonpa/login_data.txt
*.xlsx
*.csv
autonpa/autotests/conn.txt
autonpa/autotests/input.ini
autonpa/autotests/logs/create.log
*.ini
*.log
*.txt
.data
*.xml
*.pyc
*.log
*.xml
*.pyc
*.iml
